@charset "UTF-8";

@font-face {
  font-family: 'Aqum two';
  src: url('../fonts/Aqum2-classic.otf') format('opentype');
}

:root {
  --font-family-emphasis: 'Aqum two', sans-serif;
  --font-color-dark: #2e1e0f;
  --font-color-light: #fff;
  --background-color-main: #6d8b74;
  --background-color-sub: #faf8f2;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color-dark);
  background-color: #fff;
  font-size: 16px;
}

header + div {
  flex: 1;
}

main {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* page */
.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* components */
.swiper-wrapper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  aspect-ratio: 16/9;
  background-color: var(--background-color-main);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev {
  transform: rotateY(180deg);
}

.mySwiper-slider {
  aspect-ratio: 16/ 9;
  width: 100%;
}

.mySwiper-gallery {
  margin-top: 6px;
  width: 100%;
  display: flex;
}

.mySwiper-gallery .swiper-slide {
  width: 25%;
  aspect-ratio: 16/9;
  opacity: 0.4;
}

.mySwiper-gallery .swiper-slide-thumb-active {
  opacity: 1;
}

.button {
  padding: 22px;
  line-height: 1;
  border-radius: 4px;
}
/* page-flame */
.page-flame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none;
}

.page-flame .flame-edge {
  position: absolute;
  background-color: var(--font-color-light);
}

.page-flame .flame-edge.vertical {
  bottom: 0;
  top: 0;
  height: 100%;
}

.page-flame .flame-edge.horizontal {
  left: 0;
  right: 0;
  width: 100%;
}

.page-flame .flame-edge.top {
  top: 0;
  transform-origin: 50% 0;
}

.page-flame .flame-edge.bottom {
  bottom: 0;
  transform-origin: 50% 100%;
}

.page-flame .flame-edge.right {
  right: 0;
  transform-origin: 100% 50%;
}

.page-flame .flame-edge.left {
  left: 0;
  transform-origin: 0 50%;
}

.flame-text {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: block;
  z-index: 4;
}

.flame-text .text {
  position: absolute;
  left: 7.5px;
  height: auto;
  width: 50vw;
}

/* header */
.header {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(calc(100% - 30px * 2), 1060px);
  margin: 0 auto;
  position: relative;
  padding: 16px 0;
}

.header .logo {
  font-family: 'Aqum two', sans-serif;
  font-size: 28px;
  line-height: 1;
  z-index: 4;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header .nav-list.is-open {
  transform: translateX(0);
  background-color: var(--background-color-main);
  width: 100vw;
  color: var(--font-color-light);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .nav-list.is-open li + li {
  margin-top: 5vh;
}

.header .nav-toggle {
  position: relative;
  z-index: 3;
  width: 30px;
  height: 30px;
  margin: 0 0 0 auto;
  cursor: pointer;
  border: none;
}

.bar {
  position: absolute;
  left: 50%;
  display: block;
  width: 20px;
  height: 3px;
  background-color: var(--font-color-dark);
  transform: translateX(-50%);
}

.bar-top {
  top: 6px;
}

.bar-mid {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar-bottom {
  bottom: 6px;
}

.nav-toggle.is-open .bar-top {
  transition: transform 0.3s;
  transform: translate(-50%, 8px) rotate(45deg);
  background-color: var(--font-color-light);
}

.nav-toggle.is-open .bar-mid {
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-toggle.is-open .bar-bottom {
  transition: transform 0.3s;
  transform: translate(-50%, -7px) rotate(-45deg);
  background-color: var(--font-color-light);
}

/* first-view */
.first-view .overlay {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url('../img/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
}

.first-view .overlay::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
  pointer-events: none;
}

.first-view .hero-message {
  position: absolute;
  text-align: left;
  width: min(82%, 780px);
  margin: 0 auto;
  top: 20vh;
  left: 0;
  right: 0;
  font-family: var(--font-family-emphasis);
}

/* sections */
.section.about-this-site {
  background-color: var(--background-color-main);
}

.section.about-me,
.section.skills,
.section.works {
  background-color: var(--background-color-sub);
}

.section .inner {
  display: flex;
  flex-direction: column;
  width: min(82%, 780px);
  margin: 0 auto;
  position: relative;
  z-index: 4;
  padding: 60px 0 60px;
}

.section .headline {
  font-family: var(--font-family-emphasis);
  display: flex;
}

.section.about-this-site .headline,
.section.contact .headline {
  color: var(--font-color-light);
}

.section.about-me .headline,
.section.skills .headline,
.section.works .headline {
  color: var(--background-color-main);
}

.section.about-this-site .subhead,
.section.about-me .subhead,
.section.skills .subhead,
.section.works .subhead {
  color: var(--font-color-dark);
}

.section.contact .subhead {
  color: var(--background-color-sub);
}

.section .contents-wrap {
  margin-top: 60px;
  display: flex;
}

.section.about-this-site .text {
  width: min(98%, 450px);
  margin: 0 auto;
}

.section.about-me .contents-wrap {
  justify-content: space-between;
  align-items: center;
}

.section.about-me .name {
  font-size: 24px;
}

.section.about-me .small-letter {
  margin-left: 20px;
  font-size: 16px;
}

.section.about-me .detail {
  margin-top: 26px;
}

.section.about-me .avatar {
  width: 260px;
  height: 260px;
}

.section.skills .skill-icons {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 14%;
}

.section.skills .icon {
  width: 128px;
  height: auto;
}

.section.works .contents-wrap {
  flex-direction: column;
}

.section.works .button-wrap {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.section.works .button {
  border: 1px solid var(--font-color-dark);
}

.section.contact {
  background-color: var(--background-color-light);
}

.section.contact .contents-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section.contact .text {
  color: var(--font-color-light);
  text-align: center;
}

.section.contact .button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.section.contact .button {
  border: 1px solid var(--font-color-light);
  color: var(--font-color-light);
}

/* footer */
.footer {
  /* color: ; */
}

/* SPのみのデザイン */
@media not all and (min-width: 768px) {
  .page-flame .flame-edge.vertical {
    width: 10px;
  }

  .page-flame .flame-edge.horizontal {
    height: 10px;
  }

  .flame-text .text {
    bottom: 8px;
  }

  .header {
    top: 10px;
  }

  .header .nav-list {
    height: 100vh;
    transform: translateX(100%);
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
  }

  .header .nav-list.is-open {
    transition: all 0.3s;
  }

  .header .nav-toggle {
    display: block;
  }

  .first-view .hero-message {
    font-size: 40px;
  }

  .sp-break {
    display: inline;
  }

  .pc-break {
    display: none;
  }

  .section .headline {
    font-family: var(--font-family-emphasis);
    font-size: 28px;
    flex-direction: column;
  }

  .section .subhead {
    font-size: 20px;
  }

  .section.about-me .contents-wrap {
    flex-direction: column-reverse;
  }

  .section.about-me .introduce {
    margin-top: 30px;
  }

  .section.about-me .introduce {
    width: min(100%, 450px);
  }

  .section.skills .skill-icons {
    justify-content: space-around;
  }

  .section.skills .icon {
    width: 100px;
  }
}
/* SP以外のデザイン */
@media only screen and (min-width: 768px) {
  .page-flame .flame-edge.vertical {
    width: 15px;
  }

  .page-flame .flame-edge.horizontal {
    height: 15px;
  }

  .flame-text .text {
    bottom: 10px;
  }

  .header {
    top: 15px;
  }

  .header .nav-toggle {
    display: none;
  }

  .header .nav-list {
    left: calc(50% - 200px);
    position: absolute;
    display: flex;
  }

  .header .nav-list li {
    min-width: 100px;
    text-align: center;
  }

  .sp-break {
    display: none;
  }

  .pc-break {
    display: inline;
  }

  .section .headline {
    align-items: center;
  }

  .section .subhead {
    margin-left: 40px;
  }

  .section.about-me .contents-wrap,
  .section.skills .contents-wrap {
    padding: 0 40px;
  }

  .section.about-me .introduce {
    width: min(50%, 350px);
  }

  .section.skills .skill-icons {
    justify-content: space-between;
  }

  .section.skills .icon {
    width: 128px;
  }
}

/* タブレットのみのデザイン */
@media (min-width: 768px) and (max-width: 1023px) {
  .first-view .hero-message {
    font-size: 60px;
  }

  .section .headline {
    font-size: 40px;
  }

  .section .subhead {
    font-size: 20px;
  }
}

/* PCのみのデザイン */
@media only screen and (min-width: 1024px) {
  .first-view .hero-message {
    font-size: 80px;
  }

  .section .headline {
    font-size: 48px;
  }

  .section .subhead {
    font-size: 24px;
  }
}
