@charset "UTF-8";

@font-face {
  font-family: 'Aqum two';
  src: url('../fonts/Aqum2-classic.otf') format('opentype');
}

:root {
  --font-family-emphasis: 'Aqum two', sans-serif;
  --font-color-dark: #2e1e0f;
  --font-color-light: #fff;
  --background-color-main: #6d8b74;
  --background-color-sub: #faf8f2;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color-dark);
  background-color: #fff;
  font-size: 16px;
}

header + div {
  flex: 1;
}

main {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* page */
.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* page-flame */
.page-flame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none;
}

.page-flame .flame-edge {
  position: absolute;
  background-color: var(--font-color-light);
}

.page-flame .flame-edge.vertical {
  bottom: 0;
  top: 0;
  height: 100%;
}

.page-flame .flame-edge.horizontal {
  left: 0;
  right: 0;
  width: 100%;
}

.page-flame .flame-edge.top {
  top: 0;
  transform-origin: 50% 0;
}

.page-flame .flame-edge.bottom {
  bottom: 0;
  transform-origin: 50% 100%;
}

.page-flame .flame-edge.right {
  right: 0;
  transform-origin: 100% 50%;
}

.page-flame .flame-edge.left {
  left: 0;
  transform-origin: 0 50%;
}

.flame-text {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: block;
  z-index: 4;
}

.flame-text .text {
  position: absolute;
  left: 7.5px;
  height: auto;
  width: 50vw;
}

/* header */
.header {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(calc(100% - 30px * 2), 1060px);
  margin: 0 auto;
  position: relative;
  padding: 16px 0;
}

.header .logo {
  font-family: 'Aqum two', sans-serif;
  font-size: 28px;
  line-height: 1;
  z-index: 4;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header .nav-list.is-open {
  transform: translateX(0);
  background-color: var(--background-color-main);
  width: 100vw;
  color: var(--font-color-light);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .nav-list.is-open li + li {
  margin-top: 5vh;
}

.header .nav-toggle {
  position: relative;
  z-index: 3;
  width: 30px;
  height: 30px;
  margin: 0 0 0 auto;
  cursor: pointer;
  border: none;
}

.bar {
  position: absolute;
  left: 50%;
  display: block;
  width: 20px;
  height: 3px;
  background-color: var(--font-color-dark);
  transform: translateX(-50%);
}

.bar-top {
  top: 6px;
}

.bar-mid {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar-bottom {
  bottom: 6px;
}

.nav-toggle.is-open .bar-top {
  transition: transform 0.3s;
  transform: translate(-50%, 8px) rotate(45deg);
  background-color: var(--font-color-light);
}

.nav-toggle.is-open .bar-mid {
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-toggle.is-open .bar-bottom {
  transition: transform 0.3s;
  transform: translate(-50%, -7px) rotate(-45deg);
  background-color: var(--font-color-light);
}

/* first-view */
.first-view .overlay {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url('../img/hero-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
}

.first-view .overlay::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.2;
  pointer-events: none;
}

.first-view .hero-message {
  position: absolute;
  text-align: left;
  width: min(82%, 780px);
  margin: 0 auto;
  top: 20vh;
  left: 0;
  right: 0;
  font-family: var(--font-family-emphasis);
}

/* sections */

/* footer */
.footer {
  /* color: ; */
}

/* SPのみのデザイン */
@media not all and (min-width: 768px) {
  .page-flame .flame-edge.vertical {
    width: 10px;
  }

  .page-flame .flame-edge.horizontal {
    height: 10px;
  }

  .flame-text .text {
    bottom: 8px;
  }

  .header {
    top: 10px;
  }

  .header .nav-list {
    height: 100vh;
    transform: translateX(100%);
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
  }

  .header .nav-list.is-open {
    transition: all 0.3s;
  }

  .header .nav-toggle {
    display: block;
  }

  .first-view .hero-message {
    font-size: 40px;
  }

  .sp-break {
    display: inline;
  }

  .pc-break {
    display: none;
  }
}
/* SP以外のデザイン */
@media only screen and (min-width: 768px) {
  .page-flame .flame-edge.vertical {
    width: 15px;
  }

  .page-flame .flame-edge.horizontal {
    height: 15px;
  }

  .flame-text .text {
    bottom: 10px;
  }

  .header {
    top: 15px;
  }

  .header .nav-toggle {
    display: none;
  }

  .header .nav-list {
    left: calc(50% - 200px);
    position: absolute;
    display: flex;
  }

  .header .nav-list li {
    min-width: 100px;
    text-align: center;
  }

  .sp-break {
    display: none;
  }

  .pc-break {
    display: inline;
  }
}

/* タブレットのみのデザイン */
@media (min-width: 768px) and (max-width: 1023px) {
  .first-view .hero-message {
    font-size: 60px;
  }
}

/* PCのみのデザイン */
@media only screen and (min-width: 1024px) {
  .first-view .hero-message {
    font-size: 80px;
  }
}
