@charset "UTF-8";

@font-face {
  font-family: 'Aqum two';
  src: url('../fonts/Aqum2-classic.otf') format('opentype');
}

:root {
  --font-color-dark: #2e1e0f;
  --font-color-light: #fff;
  --background-color-main: #6d8b74;
  --background-color-sub: #faf8f2;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-font-color);
  background-color: var(--background-color-sub);
  font-size: 16px;
}

header + div {
  flex: 1;
}

main {
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

a {
  display: block;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 15px;
  z-index: 999;
}

.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(calc(100% - 15px * 2), 1024px);
  margin: 0 auto;
  position: relative;
  padding: 18px 0;
}

.header .logo {
  font-family: 'Aqum two', sans-serif;
  font-size: 28px;
  line-height: 1;
  z-index: 4;
}

.header .nav {
  display: flex;
  align-items: center;
}

.header .nav-list {
  transition: all 0.3s;
}

.header .nav-list.is-open {
  transform: translateX(0);
  background-color: var(--background-color-main);
  width: 100vw;
  color: var(--font-color-light);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .nav-list.is-open li + li {
  margin-top: 5vh;
}

.header .nav-toggle {
  position: relative;
  z-index: 3;
  width: 30px;
  height: 30px;
  margin: 0 0 0 auto;
  cursor: pointer;
  border: none;
}

.bar {
  position: absolute;
  left: 50%;
  display: block;
  width: 20px;
  height: 3px;
  background-color: var(--font-color-dark);
  transform: translateX(-50%);
}

.bar-top {
  top: 6px;
}

.bar-mid {
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar-bottom {
  bottom: 6px;
}

.nav-toggle.is-open .bar-top {
  transition: transform 0.3s;
  transform: translate(-50%, 8px) rotate(45deg);
  background-color: var(--font-color-light);
}

.nav-toggle.is-open .bar-mid {
  opacity: 0;
  transition: opacity 0.3s;
}

.nav-toggle.is-open .bar-bottom {
  transition: transform 0.3s;
  transform: translate(-50%, -7px) rotate(-45deg);
  background-color: var(--font-color-light);
}

.footer {
  /* color: ; */
}

/* SPのみのデザイン */
@media not all and (min-width: 768px) {
  .header .nav-list {
    height: 100vh;
    transform: translateX(100%);
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
  }

  .header .nav-toggle {
    display: block;
  }
}
/* SP以外のデザイン */
@media only screen and (min-width: 768px) {
  .header .nav-toggle {
    display: none;
  }

  .header .nav-list {
    left: calc(50% - 200px);
    position: absolute;
    display: flex;
  }

  .header .nav-list li {
    min-width: 100px;
    text-align: center;
  }
}

/* タブレットのみのデザイン */
@media only screen (min-width: 768px) and (max-width: 1023px) {
}

/* PCのみのデザイン */
@media only screen and (min-width: 1024px) {
}
